@import "tailwindcss";

:root {
  --background: #FFFCF8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: #18181b;
  -webkit-font-smoothing: antialiased;
}
